.wrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 1440px;
    max-height: 100vh;
    background-color: var(--secondary);
    display: grid;
    grid-template-columns: 15% 1fr;
    overflow: auto;
}

.content {
    overflow: auto;
    max-height: 100vh;
}