.info {
    padding: 5px 0;
}

.info *{
    color: var(--main);
    font-size: 1.6rem;
    font-weight: bold;
}

.info {
    word-wrap: none;
}

.nested {
    padding-left: 20px;
}

@media screen and (max-width: 776px) {
    .info *{
        font-size: 1.3rem;
    }
    .changer input:not([type="checkbox"]) {
        width: 100px;
    }
    .nested {
        padding-left: 10px;
    }
}
