.info {
	padding: 5px 0;
}

.info * {
	color: var(--main);
	font-size: 1.6rem;
	font-weight: bold;
}

.info {
	word-wrap: none;
}

.nested {
	padding-left: 20px;
}

.datePickerInput {
	padding: 5px;
	border-radius: 5px;
	color: var(--main);
	width: min(70%, 200px);
	text-align: center;
	font-size: 1.4rem;
	margin-left: 10px;
}
.datePickerCalendar,
.datePickerCalendar :global(.react-datepicker__current-month) {
	font-size: 1.1rem;
	color: var(--main);
}
.datePickerCalendar * {
	color: var(--main);
	font-size: 1.4rem;
}

@media screen and (max-width: 776px) {
	.info * {
		font-size: 1.3rem;
	}
	.changer input:not([type='checkbox']) {
		width: 100px;
	}
	.nested {
		padding-left: 10px;
	}
}
