.homework {
    width: 100%;
}

.offseted {
    margin-left: 30px; 
}

.homework *:not(.text) {
    color: var(--main)
}


.date {
    font-size: 1.8rem;
    /* margin-bottom: 10px; */
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
}

.lesson { 
    font-size: 1.6rem;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
}

.accordion:hover {
    background-color: var(--secondary-light);  
}
.triangle_opened {
    transform: rotate(90deg);
}

.tasks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100%/4 - 10px),140px));
    row-gap: 25px;
    column-gap: 10px;
    padding-top: 15px;
}

.container {
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: fit-content;
}

.text {
    background-color: var(--main);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}

.text img {
    border-radius: 10px;
}

.attachments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(100% - 20px);
    gap: 10px;
    padding-bottom: 10px;
}

.attachments img {
    width: 100%;
}

.fullImage {
    padding: 0;
}

.fullImage .attachments {
    padding-bottom: 0;
}

.onlyImage .attachments {
    grid-template-columns: 1fr;
    padding: 0;
}

.fullText {
    justify-content: start;
    flex-direction: initial;
}

.attach {
    border-radius: 30px;
}

.text {
    font-size: 1.2rem;
    font-size: bold;
}


.text:not(.fullText) .text {
    padding-top: 5px;
}

.controls {
    display: flex;
    visibility: hidden;
    cursor: pointer;
    top: -20px;
    right: -10px;
    flex-direction: row;
    position: absolute;
    padding: 10px;
    padding-top: 0;
    box-sizing: content-box;
    width: 40px;
    justify-content: space-between;
}

.remove * {
    color: var(--negative) !important;
}

.container:hover .controls {
    visibility: visible;
}

.controls:hover {
    visibility: visible;
}


@media screen and (max-width: 476px) {
    .controls {
        flex-direction: column-reverse;
        top: 0;
        right: -30px;
        width: fit-content;
        height: 40px;
        align-items: center;
        justify-content: space-between;
    }

    .texts {
        gap: 10px 25px;
    }
}