.homework {
    width: 100%;
}

.offseted {
    margin-left: 30px; 
}

.homework *:not(.text) {
    color: var(--main)
}

.date {
    font-size: 1.8rem;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.lesson { 
    font-size: 1.6rem;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.triangle_opened {
    transform: rotate(90deg);
}

.tasks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100%/4 - 10px),150px));
    row-gap: 25px;
    column-gap: 10px;
}

.container {
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.task {
    background-color: var(--main);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
}

.task img {
    border-radius: 10px;
}

.attachments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(100% - 20px);
    gap: 10px;
}

.attachments img {
    width: 100%;
}

.fullImage {
    padding: 0;
}

.onlyImage .attachments {
    grid-template-columns: 1fr;
    padding: 0;
}

.fullText {
    justify-content: start;
    flex-direction: initial;
    padding: 15px;
}

.attach {
    border-radius: 30px;
}

.text {
    font-size: 1.2rem;
    font-size: bold;
}

.controls {
    display: flex;
    visibility: hidden;
    cursor: pointer;
    top: -20px;
    right: 0;
    flex-direction: row;
    position: absolute;
}

.remove * {
    color: var(--negative) !important;
}

.container:hover .controls {
    visibility: visible;
}


@media screen and (max-width: 476px) {
    .controls {
        flex-direction: column;
        top: 0;
        right: -20px;
        align-items: center;
        justify-content: start;
    }

    .tasks {
        gap: 10px 25px;
    }
}