.modalImage {
	width: min(100%, 80vw);
	margin: auto 0;
}

.imageChanger {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	padding: 500px 30px;
	box-sizing: content-box;
}
.imageChanger:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.next {
	right: 0px;
}

.prev {
	left: 0px;
}

.deletableAttachment {
	position: relative;
	height: 300px;
	display: flex;
	margin: 0 10px;
}
.deletableAttachment img {
	height: 300px;
}
.deletableAttachment:hover .removeAttachment {
	visibility: visible;
}

.removeAttachment {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0px;
	visibility: hidden;
}
