.classes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    row-gap: 30px;
}

@media screen and (max-width: 776px) {
    .classes {
        grid-template-columns: 1fr;
        padding: 15px;
    }
}