.contentChanger {
    background-color: var(--secondary);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}
.header label {
    width: fit-content;
    display: flex;
    align-items: center;
}
.header * {
    cursor: pointer;
}

.contentChanger section:not(:last-of-type) {
    margin-bottom: 10px;
    width: 1000px;
    min-width: 600px;
    max-width: 90vw;
}

.text,
.title,
.uploaderIcon * {
    color: var(--main);
}

.title {
    margin-bottom: 5px;
    font-size: 1.8rem;
}

.datePickerInput {
    padding: 5px;
    border-radius: 5px;
    color: var(--main);
    margin-left: 10%;
}
.datePickerCalendar,
.datePickerCalendar :global(.react-datepicker__current-month) {
    font-size: 1.1rem;
    color: var(--main);
}

.attachmentsContainer {
    display: flex;
    width: 100%;
    overflow: auto;
}

.uploaderIcon {
    cursor: pointer;
}

.text textarea {
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}
