.contentChanger {
	background-color: var(--secondary);
	padding: 20px;
	height: fit-content;
	min-height: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	width: 100%;
}
.header label {
	width: fit-content;
	display: flex;
	align-items: center;
}
.header * {
	cursor: pointer;
}

.text,
.title,
.uploaderIcon * {
	color: var(--main);
}

.text {
	width: 100%;
}

.title {
	margin-bottom: 5px;
	font-size: 1.8rem;
}

.toSection {
	display: flex;
	flex-wrap: wrap;
}
.toSection > * {
	margin: 5px 0;
}

.datePickerInput {
	padding: 5px;
	border-radius: 5px;
	color: var(--main);
	width: min(60%, 200px);
}
.datePickerCalendar,
.datePickerCalendar :global(.react-datepicker__current-month) {
	font-size: 1.1rem;
	color: var(--main);
}
.datePickerCalendar * {
	color: var(--main);
}

.onNextLesson {
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid var(--main);
	box-sizing: border-box;
	color: var(--main);
	font-weight: bolder;
}
.onNextLesson:hover {
	background-color: var(--main);
	color: var(--accent);
}

.outlined {
	border: 1px solid var(--positive);
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 5px;
	text-align: center;
}

.selectLesson {
	padding: 5px;
	border-radius: 5px;
}

.attachmentsContainer {
	display: flex;
	width: 100%;
	overflow: auto;
}
.attachmentsContainer img {
	max-width: 80vw;
}

.uploaderIcon {
	cursor: pointer;
}

.text {
	resize: none;
	padding: 5px;
	box-sizing: border-box;
	width: 100%;
}

.imagePlaceholder {
	height: 300px;
	background-color: var(--accent);
	border: 2px dashed var(--main);
	display: flex;
	justify-content: center;
	text-align: center;
}

@media screen and (max-width: 675px) {
	.attachmentsContainer img {
		object-fit: contain;
		height: initial;
	}
}
