.filterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.filters {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}

.filters input,
.filters select {
    border-radius: 10px;
    padding: 5px 10px;
    height: 100%;
}

.filters .search {
    color: var(--main);
}

.filters .sorts {
    width: 40%;
    display: flex;
    flex-direction: row-reverse;
}

.sorts * {
    color: var(--main) !important;
    font-size: 1.2rem;
}

@media screen and (max-width: 776px) {

    .filters input,
    .filters select {
        padding: 3px 3px;
        background-color: #fff;
        width: 100%;
        color: var(--main) !important;
        font-size: 1rem;
    }

    .filters .search {
        width: 50%;
    }

    .filters {
        padding: 0;
    }
}