.preview {
    justify-self: center;
    padding: 16px 16px 16px 16px;
    background-color: var(--main);
    border-radius: 18px;
    width: 80%;
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: space-between;
}

.name {
    cursor: pointer;
    overflow: visible;
}

.remove > * {
    color: var(--negative);
    align-self: start;
    cursor: pointer;
    letter-spacing: 0;
}

.remove:hover > * {
    color: var(--accent);
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.creator {
    display: flex;
    justify-content: center;
    background-color: var(--main);
    box-sizing: border-box;
    height: 50px;
    align-self: center;
    width: 35%;
    margin: 25px 0;
    cursor: pointer;
}

.creator form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.creator > *,
.creator form > buttons{
    cursor: pointer;
}

.creator form input {
    width: 60%;
    color: var(--main);
    padding: 5px;
    border-radius: 8px;
}

.reject > * {
    color: var(--negative);
}

.confirm > * {
    color: var(--positive);
}

@media screen and (max-width: 776px) {
    .creator {
        width: calc(80% - 20px); /* preview size */
        padding: auto;
    }

    .reject,
    .confirm {
        padding: 0px;
        box-sizing: border-box;
    }
}