.class {
    padding: 0 20px 0 20px;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-align: center;
}

.name {
    font-size: 3rem;
    color: var(--main);
    font-weight: bolder;
} 

.students > *:not(:last-child){
    margin-bottom: 20px;
}

.students {
    max-height: 300px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.student {
    display: flex;
    align-items: center;
}

.remove {
    padding-left: 10px;
    box-sizing: content-box;
    cursor: pointer;
}