.section {
    padding-top: 20px;
    width: 100%;
}

.header {
    width: 100%;
    border-bottom: 2px solid var(--main);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
}

.name {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.name * {
    color: var(--main);
}

.triangle_opened {
    transform: rotate(90deg);
}

.search {
    width: 30%;
    max-width: 200px;
    min-width: 100px;
}

.content {
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.search {
    border-radius: 10px;
}

@media screen and (max-width: 776px) {
    .content {
        padding: 20px 0;
    }
}
