.student {
	padding: 0 40px;
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.info {
	display: flex;
	align-items: center;
	font-size: 2.5rem;
	font-weight: bold;
}
.info * {
	color: var(--main);
}
.vkId {
	padding-left: 50px;
}
.name {
	display: block;
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 35px;
	right: 40px;
}
.icon {
	align-self: center;
	cursor: pointer;
}
.icon * {
	color: var(--accent);
}
.icon:not(:last-child) {
	margin-right: 25px;
}
.pen * {
	color: var(--main);
}
.trash *,
.close * {
	color: var(--negative);
}

.check * {
	color: var(--positive);
}

.body {
	padding-top: 30px;
}

@media screen and (max-width: 776px) {
	.icons {
		top: 16px;
		right: 10px;
	}
}

@media screen and (max-width: 496px) {
	.icons {
		display: flex;
		flex-direction: column;
	}

	.icons button.icon:not(:last-child) {
		margin-bottom: 10px;
	}
}
