.student {
    padding: 0 40px;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
}
.info * {
    color: var(--main);
}
.vkId {
    padding-left: 50px;
}

.icon {
    align-self: center;
    cursor: pointer;
}
.icon:not(:last-child) {
    margin-right: 25px;
}
.pen * {
    color: var(--main)
}
.trash  *,
.ban *,
.close * {
    color: var(--negative)
}
.unban *,
.check * {
    color: var(--positive)
}


.body {
    padding-top: 30px;
}

@media screen and (max-width: 776px) {
    .icons {
        position: absolute;
        right: 20px;
        top: 10px;
        display: flex;
        flex-direction: column;
        height: 100px;
    }
    .icon:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .icon {
        width: 25px;
    }
    .info {
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
    }
    .vkId {
        padding-left: 25px;
    }
}
